*, body, html, article, section, div { padding:0; margin:0; }

*, body, html, article, section, div { line-height: 1.3333; }

.template {
  display: none;
}

html {
  font-family: 'Catamaran', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 100;
}

/* bold stuff */
h1, h2, h3, h4, h5, h6, .story .title, a {
  font-weight: 300;
}

h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.2rem;
}
h3 {
  font-size: 1.1rem;
}

html.dark {
  color: #fefef4;
  background: #333;
}
html.dark a {
  color: #fff;
  text-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

html.bright {
  color: #332;
  background: #fefefe;
}
html.bright a {
  color: #110;
  text-shadow: 0 0 1px rgba(16, 16, 0, .125);
}

article {
  margin: .666rem .666rem;
}

p {
  margin-bottom: .666rem;
}

a {
  text-decoration: none;
}

section.stories {
  margin: 2.666rem 0;
}

.story {
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  margin-bottom: 1.333rem;
}

.story .title {
  display: inline;
}

.story .thumbnail {
  height: 12rem;
}
.story .thumbnail:not(:last-child) {
  margin-right: .666rem;
}
.story .thumbnail.dummy {
  background: #888;
  opacity: .25;
  width: 8rem;
  display: inline-block;
}

.thumbnail {
  opacity: 1;
  transition: opacity 1s linear;
}

.thumbnail.new {
  opacity: 0;
}

.intro .me {
  width: 33vw;
  max-width: 12rem;
  float: left;
  margin: .15rem .666rem .666rem 0;
}

footer::before {
  content: "\2014  = + = \2014";
  display: block;
  text-align: center;
  margin-bottom: 2.666rem;
}

#fullscreen {
  position: fixed;
  top: 0;
  right: 100%;
  bottom: 0;
  left: -100%;
  background: rgba(0, 0, 0, .9);
  opacity: 0;
  transition: all .666s ease;
}
#fullscreen.showing {
  opacity: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#fullscreen .image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  background: center no-repeat;
  background-size: contain; /* not compatible with background */
  opacity: 0;
  transition: opacity .666s ease;
}

#fullscreen .image.current {
  opacity: 1;
}

#fullscreen .close, #fullscreen .buy, #fullscreen .checkout {
  position: absolute;
  opacity: .333;
  color: white;
  padding: 0 .666rem;
}

#fullscreen .close {
  top: 0;
  right: 0;
  font-size: 2rem;
}

#fullscreen .buy {
  bottom: 0;
  right: 0;
  background: black;
  cursor: pointer;
}

#fullscreen .checkout {
  bottom: 0;
  left: 0;
  background: black;
  cursor: pointer;
}

#fullscreen .buy, #fullscreen .checkout {
  display: none;
  font-size: 1.5rem;
}
#fullscreen .buy.show, #fullscreen .checkout.show {
  display: block;
}
@media screen and (orientation: landscape) {
  #fullscreen .buy, #fullscreen .checkout {
    transform: rotate(-90deg);
    transform-origin: bottom left;
    left: 100%;
    right: auto;
    white-space: nowrap;
    padding-bottom: .333rem;
  }
  #fullscreen .checkout {
    transform: rotate(90deg);
    transform-origin: bottom right;
    right: 100%;
    left: auto;
    white-space: nowrap;
    padding-bottom: .333rem;
  }
}

#fotomoto_view_cart_float {
  display: none;
}

@media screen and (max-width: 640px) and (orientation: portrait), screen and (max-height: 640px) and (orientation: landscape) {
  html {
    font-size: 20px;
  }

  #simplemodal-container {
    top: 0 !important;
    left: 0 !important;
    zoom: .8;
  }
}

@media screen and (min-width: 640px) and (orientation: portrait), screen and (min-height: 640px) and (orientation: landscape) {
  html {
    font-size: 24px;
  }
}
