*,
body,
html,
article,
section,
div {
    padding: 0;
    margin: 0;
}

*,
body,
html,
article,
section,
div {
    line-height: 1.3333;
}

.template {
    display: none;
}

html {
    font-family: 'Catamaran', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 100;
    background: #888;
    transition: background-color 200ms;

}

/* bold stuff */
h1,
h2,
h3,
h4,
h5,
h6,
.story .title,
a,
strong {
    font-weight: 300;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.2rem;
}

h3 {
    font-size: 1.1rem;
}

html,
body,
main,
article,
header {
    min-height: 100vh;
}

noscript {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1em;
    z-index: 1;
    background: white;
    color: black;
}

html.loading:before {
    content: "loading.";
    text-align: center;
    padding-top: 10em;
    padding-top: 45vh;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

html body {
    opacity: 0;
    transition: opacity 5000ms;
}

html.loaded body {
    opacity: 1;
}

html.loaded.dark {
    color: #fefef4;
    background: #333;
}

html.dark h1 {
    background: #3338;
    text-shadow: 0 0 10px #aaa;
    text-shadow: 0 0 1px #333, 0 0 10px #aaa;
}

html.dark a {
    color: #fff;
    text-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

html.loaded.bright {
    color: #332;
    background: #fefefe;
}

html.bright h1 {
    background: #fefefe88;
    text-shadow: 0 0 10px #aaa;
}

html.bright a {
    color: #110;
    text-shadow: 0 0 1px rgba(16, 16, 0, .125);
}

p {
    margin-bottom: .666rem;
}

a {
    text-decoration: none;
}

header {
    position: relative;
}

header * {
    position: absolute;
}

header .welcome {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

header .welcome .image {
    width: 100%;
    height: 100%;
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity .666s ease;
}

header .welcome .image.current {
    opacity: 1;
}

header h1 {
    right: 0;
    bottom: 0;
    left: 0;
    padding: .666rem .9rem;
    box-shadow: 0 0 .333rem 0 rgba(0, 0, 0, .1);
    text-align: right;
}

header .scrolldown {
    transform: rotate(90deg);
    bottom: -.9rem;
    left: 1.1rem;
    font-size: 4rem;
    opacity: .666;
}

header .theme.toggle {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    position: fixed;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    opacity: .5;
}

html.bright header .theme.toggle {
    background: #333;
    border: 1px solid #fefefe;
}

html.dark header .theme.toggle {
    background: #fefef4;
    border: 1px solid #332;
}

section,
footer {
    margin: .666rem .666rem;
}

section.stories {
    margin: 2.666rem .666rem;
    min-height: 30rem;
}

.story {
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    margin-bottom: 2.666rem;
}

.story .text {
    margin-bottom: .333rem;
}

.story .text .title {
    display: inline;
}

.story .thumbnail {
    height: 12rem;
}

.story .thumbnail:not(:last-child) {
    margin-right: .666rem;
}

.story .thumbnail.dummy {
    background: #888;
    opacity: .25;
    width: 8rem;
    display: inline-block;
}

.thumbnail {
    opacity: 1;
    transition: opacity 1s linear;
}

.thumbnail.new {
    opacity: 0;
}

footer::before {
    content: "\2014  = + = \2014";
    display: block;
    text-align: center;
    margin-bottom: 2.666rem;
}

footer .intro {
    columns: 2;
}

footer .intro .me {
    width: 25vw;
    max-width: 9rem;
    float: left;
    margin: .15rem .666rem .666rem 0;
}

footer .intro h2 {
    margin-bottom: .666rem;
}

footer .intro h2:after {
    content: "";
    clear: both;
    display: block;
}

footer .intro code {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 4rem;
    vertical-align: bottom;
}

#fullscreen {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 100%;
    bottom: 0;
    left: -100%;
    background: rgba(0, 0, 0, .9);
    opacity: 0;
    transition: all .333s ease-out;
}

#fullscreen.showing {
    opacity: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#fullscreen .image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    background: center no-repeat;
    background-size: contain;
    /* not compatible with background */
    opacity: 0;
    transition: opacity .666s ease-out;
}

#fullscreen .image.current {
    opacity: 1;
}

#fullscreen .close,
#fullscreen .buy,
#fullscreen .checkout {
    position: absolute;
    opacity: .333;
    color: white;
    padding: 0 .666rem;
    cursor: pointer;
    background: black;
    border-radius: 2px;
}

#fullscreen .close {
    top: 0;
    right: 0;
    font-size: 2rem;
}

#fullscreen .buy {
    bottom: 0;
    right: 0;
}

#fullscreen .checkout {
    bottom: 0;
    left: 0;
}

#fullscreen .buy,
#fullscreen .checkout {
    display: none;
    font-size: 1.5rem;
}

#fullscreen .buy.show,
#fullscreen .checkout.show {
    display: block;
}

@media screen and (orientation: landscape) {

    #fullscreen .buy,
    #fullscreen .checkout {
        transform: rotate(-90deg);
        transform-origin: bottom left;
        left: 100%;
        right: auto;
        white-space: nowrap;
        padding-bottom: .333rem;
    }

    #fullscreen .checkout {
        transform: rotate(90deg);
        transform-origin: bottom right;
        right: 100%;
        left: auto;
        white-space: nowrap;
        padding-bottom: .333rem;
    }
}

#fotomoto_view_cart_float {
    display: none !important;
}

/* mobile */
@media screen and (max-width: 640px) and (orientation: portrait),
screen and (max-height: 640px) and (orientation: landscape) {
    html {
        font-size: 20px;
    }

    #simplemodal-container {
        top: 0 !important;
        left: 0 !important;
    }

    header .welcome {
        top: 0;
    }

    header h1 {
        background: rgba(255, 255, 255, .666);
    }

    footer .intro {
        columns: 1;
    }
}

/* large */
@media screen and (min-width: 640px) and (orientation: portrait),
screen and (min-height: 640px) and (orientation: landscape) {
    html {
        font-size: 24px;
    }
}

/* hd */
@media screen and (min-width: 1900px) {
    footer .intro {
        columns: 3;
    }
}
